
:root {
  --primary: #c2524a;
  --accent:#f1dc96;
  --secondary:#EEF5DB;
  --tertiary: #c2524a;
}


body {
  width: 100%;
  margin: 0;
	padding: 0;
	border: 0;
	outline: none;
  line-height: 1.4rem;
  color: var(--primary);
}

h1, h2, figcaption {
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  color: var(--tertiary);
  font-size: 4rem;
}

h2 {
  font-size: 2.2rem;
}

figcaption {
  font-size: 1.5rem;
}

body, p, a {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25rem;
}

p {
  padding-bottom: 1rem;
}


.brand {
  display: flex;
  justify-content: flex-start;
}

.brand .logo {
  height: 80px;
}

 
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color:var(--secondary);
}

.nav {
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.nav > li {
  float: left; 
  width: 50%;
}

.nav > li > a, .nav li ul li a {
  text-decoration: none;
  display: block;
  padding: 1rem 2rem;
  text-align: center;
  color: var(--tertiary);
}

.nav > li:hover {
  background-color: var(--accent);
}

.nav li ul {
  display: none;
}

.nav > li:hover ul {
  display: block;
}


.masthead {
  width: 100%;
  position: relative;
}

.masthead img {
  width: 100%;
}

.masthead h1 {
  position: absolute;
  top:40%;
  width: 100%;
  text-align: center;
}

#main-content {
  padding: 4rem;
}


#portfolio {
  width: 100%;
}



#portfolio .row {
  display: flex;
  flex-wrap: wrap;
}

figure {
  flex: 25%;
  width: 25%;
  padding: 1rem;
}

figure img {
  width:00%;
  vertical-align: middle;
}

figcaption {
  padding-top: 1rem;
}


footer {
  width: 100%;
  justify-content: center;
  background-color:var(--secondary);
}

.social-media {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}

.social-media img {
  max-width: 40px;
  padding: 0 1rem;
  justify-content: center;
}


@media only screen and (max-width: 80rem) { 

  h1 {
    color: var(--tertiary);
    font-size: 3.2rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  figcaption {
    font-size: 1.2rem;
  }
  
  body, p, a {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
  }

  .brand {
    justify-content: center;
  }

  #main-content {
    padding: 3rem;
  }

  figure {
    flex: 30%;
    max-width: 30%;
  }

}

@media only screen and (max-width: 35rem) { 

  h1 {
    color: var(--tertiary);
    font-size: 2.8rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  figcaption {
    font-size: 1.2rem;
  }
  
  body, p, a {
    font-family: 'Raleway', sans-serif;
    font-size: 0.75rem;
  }

  .nav > li {
    float: left; 
    width: 100%;
  }

  #main-content {
    padding: 2rem;
  }

  figure {
    flex: 100%;
    max-width: 100%;
  }

}