<div id ="home" >
    <article>
        <h2>Bienvenue!</h2>
        <p> I am a creative photographer who is passionate about capturing images that tell a story and evoke emotion. With a keen eye for detail and a love for experimenting with different techniques, I strive to create images that are not only visually stunning but also thought-provoking. From portraits and landscapes to still life and abstract compositions, I aim to capture the beauty of the world around us in a way that is both creative and unique. Please take a moment to browse my portfolio and see some of my latest work. If you are interested in working together or have any questions, please do not hesitate to contact me. 

</div>