<div id="portfolio">
   <div class="row">
      <figure>
         <img src="./img/1.jpg" alt="description of image" /> 
         <figcaption>Mint Take 1</figcaption>
      </figure>

      <figure>
         <img src="./img/2.jpg" alt="description of image" /> 
         <figcaption>Mint Take 2</figcaption>
      </figure>

      <figure>
         <img src="./img/3.jpg" alt="description of image" /> 
         <figcaption>Mint Take 3</figcaption>
      </figure>
   </div>   
   <div class="row">
      <figure>
         <img src="./img/4.jpg" alt="description of image" /> 
         <figcaption>Mint Take 4</figcaption>
      </figure>

      <figure>
         <img src="./img/5.jpg" alt="description of image" /> 
         <figcaption>Mint Take 5</figcaption>
      </figure>

      <figure>
         <img src="./img/6.jpg" alt="description of image" /> 
         <figcaption>Mint Take 6</figcaption>
      </figure>
   </div>
</div>